.Title
{
	font-family: 'Noto Sans', sans-serif;
	font-size: 35px;
	text-align: center;
}

body
{
	width: 800px;
	background: none;
	background-repeat: no-repeat;
	/*background: linear-gradient(to left,  rgba(0, 140, 128, 0.5) 0%, rgba(0, 100, 30, 0.5)100%);*/

}